.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
td{
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    padding-left: 2px;

}
.flot-chart{
	height:100px;
}
.panel-heading{
	padding:10px;
}
#traffic-title{
  font-weight: bold;
}
#note{
  font-size: 12px;
}
